body {
  background: aliceblue;
  font: 1rem trebuchet ms;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  max-width: 1000px;
}

.col {
  margin: 24px;
}

#hero-1 {
  font-size: 2.5rem;
}

#hero-2 {
  font-size: 1.5rem;
}

.faqs {
  display: grid;
  text-align: justify;
  grid-template-columns: 20% 80%;
  font-size: 0.8rem;
}

img#preview {
  width: 100%;
}

.c1 { color: gold; }
.c2 { color: darkblue; }
.c3 { color: hotpink; }
.c4 { color: hotpink; }

.align-right {
  text-align: right;
}

input, .stripe-field {
  font-size: 16px;
  padding: 4px 4px 8px 4px;
  background: transparent;
  border: none;
  border-bottom: 1px solid silver;
  width: 100%;
  font: 1rem trebuchet ms;
  margin: 8px 0px;
}

input, button[type="submit"] {
  margin: 8px 0px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid grey !important;
  transition: 0.5s !important;
}

button[type="submit"] {
  font-size: 1.2rem;
  padding: 4px 4px 8px 4px;
  width: 100%;
  border-radius: 4px;
  font: 1rem trebuchet ms;
}

.users {
  margin-top: 8px;
  padding-right: 4px;
}

.error {
  color: red;
}

form.signup, form.signin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
