body {
  border-top: 3px solid black;
  padding-top: 6px;
}

.card {
  padding: 10px;
  margin: 0 0 10px 0;
}

.text-medium {
  font-size: 90%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
